@model BlueSport_MVC.ViewModel.vmCommon
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Home</title>
    <link href="./images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/css/global.css">
    <link rel="stylesheet" type="text/css" href="~/css/listing.css">
    <link rel="stylesheet" type="text/css" href="~/css/home.css">

</head>
<body>
    <div class="bgcover"></div>
    <!-- Header-->
    @Html.Partial("~/Views/Shared/Common/_PartialHeader.cshtml", Model.lsCategory)
    <!-- End Header-->
    <!-- Phan noi dung cua Controller -->

    @RenderBody()

    <!-- End Phan noi dung cua Controller -->
    <!-- Footer -->

    @Html.Partial("~/Views/Shared/Common/_PartialFooter.cshtml")

    <!-- End Footer -->
</body>
</html>
